
<% @posts.each do |post| %>
  <div class="top-page">
    <div class="main_contents">
      <div class="comment_counter">
        <div class="counter">0
        </div>
        <div class="comment">comment
        </div>
      </div>
      <div class="sub_contents">
        <div class="title_name">
          <div class="title">タイトル：<%= post.title %></div>
          <div class="name">投稿者名：<%= post.name %></div>
        </div>
        <div class="content">内容：<%= post.content %></div>
      </div>
    </div>
  </div>
<% end %>