/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.all{
  height: 100vh;
  width: 100vw;
  background-color: #F2F2F3;
}

.header{
  height: 65px;
  width: 100vw;
  background-color: #1C3667;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main{
  height: calc(100vh - 65px);
  width: 100vw;
  background-color: #F2F2F3;
}


.top_title{
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  font-weight: 100;
  color: #ffffff;
  letter-spacing: 1.8px;
 }

.question_btn{
  font-size: 16px;
  color: #3A3736;
  background-color: #ffffff;
  border-radius: 5px;
  line-height: 32px;
  width: 80px;
  text-align: center;
}
